- unless @entry['Summary'].nil? or @entry['Summary'] == ''
  .intro{:id => "_summary"}
    :markdown
      = @entry['Summary']
.content
  %h1
    %a{:href => '/' + h(@entry['Name']) } #{@entry['Title']}
  .entry-date
    %span.month #{Time.parse(@entry['PublishDate']).strftime('%b %d')}
    %span.year #{Time.parse(@entry['PublishDate']).strftime('%Y')}
  .entry-container
    :markdown
      = @entry['Content']