.intro{:id => "_summary"}
.content
  %h1 Recent Posts
  - if @posts.size > 0
    - @posts.each do |p|
      .post-list
        .post-line
        .revised
          %span.month 
            = p.month
          %span.year
            = p.year
        .comments
          %a{:href => p.url}
            %span.comment-count 
              = p.comments
            %span comments
        .summary
          %h2
            %a{:href => p.url} 
              = p.title
          %p 
            = p.abstract  